<footer class="bg-light-grey">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 text-center m-t-70 m-b-40">
        <img src="/assets/images/logo-footer.png" alt="Hello" class="img-responsive center-block">
        <ul class="f-s14 f-w700 m-t-40 grey">
          <li>Hello © 2017 </li>
          <li><a href="http://www.loriel.it/hello/index.html#features" class="page-scroll">Features</a></li>
          <li><a href="http://www.loriel.it/hello/index.html#download" class="page-scroll">Download</a></li>
          <li><a href="http://www.loriel.it/hello/index.html#screenshot" class="page-scroll">Screenshot</a></li>
          <li><a href="http://www.loriel.it/hello/index.html#contact" class="page-scroll">Contact</a></li>
        </ul>
        <div class="social m-t-40 m-b-70">
         <a href="http://www.loriel.it/hello/index.html#" class="green"><i class="fa fa-facebook-square fa-3x m-r-20" aria-hidden="true"></i></a>
         <a href="http://www.loriel.it/hello/index.html#" class="green"><i class="fa fa-twitter fa-3x m-r-20" aria-hidden="true"></i></a>
         <a href="http://www.loriel.it/hello/index.html#" class="green"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a>
       </div>
     </div>
   </div>
 </div>

</footer>
<!-- /footer -->
