<footer class="bg-light-grey">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 text-center m-t-70 m-b-40">
        <ul class="f-s14 f-w700 m-t-40 grey">
          <li>Caren © 2018 </li>
          <li><a href="#features" class="page-scroll">Features</a></li>
          <li><a href="#download" class="page-scroll">Mais</a></li>
          <li><a href="#info" class="page-scroll">Informações</a></li>
          <li><a href="#contact" class="page-scroll">Contato</a></li>
        </ul>
        <div class="social m-t-40 m-b-70">
         <a href="http://fb.me/CarenChat" target="_blank" class="green"><i class="fa fa-facebook-square fa-3x m-r-20" aria-hidden="true"></i></a>
         <!-- <a href="#" class="green"><i class="fa fa-twitter fa-3x m-r-20" aria-hidden="true"></i></a> -->
         <!-- <a href="#" class="green"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a> -->
       </div>
     </div>
   </div>
 </div>

</footer>
<!-- /footer -->
