<header>
  <div class="header-content">
    <div class="col-lg-7 col-md-7">
     <img src="assets/images/caren-hand-website-new.png" alt="CAREn" class="img-responsive center-block mockup-header effect2">
   </div>
   <div class="col-lg-5 col-md-5 header-content-inner">
    <h1 id="homeHeading" class="effect1" style="margin-top:21px; font-size:55px;">Seu atendimento de saúde <br>A um toque de distância</h1>
    <h2 class="caren-header-h2 f-w300 m-t-20 effect2">Caren o assistente de saúde via chat</h2>
    <p class="page-scroll f-s18 m-r-40 m-b-10 effect1 text-center">Breve</p>
    <a href="#" class="btn btn-default btn-lg page-scroll f-s18 m-r-10 effect1"><i class="fa fa-apple fa-lg fa-2x m-r-10" aria-hidden="true"></i>App Store</a>
    <a href="#" class="btn btn-default btn-lg page-scroll f-s18 effect1"><i class="fa fa-play fa-lg fa-2x m-r-10" aria-hidden="true"></i>Google Play</a>
  </div>
</div>
</header>
<!-- /header -->
