<section class="bg-white has-svg features" id="features">
  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="separator separator-top" width="100%" height="100" viewBox="0 0 100 101" preserveAspectRatio="none">
    <path d="M0 100 L100 0 L100 100 Z"></path>
  </svg>
  <div class="container">
    <div class="row m-b-70">
      <div class="col-lg-7 col-md-7">
        <h3 class="black f-s60 f-w500">Chega de esperar</h3>
        <h2 class="grey text-uppercase f-w300">Simples, Seguro e para Todos.</h2>
        <p class="grey f-s18 m-t-70 m-b-40 f-w300">Nosso serviço foi desenvolvido para atender pessoas sem plano de saúde, cansadas de esperar nas longas filas do sistema público, pessoas sem tempo de ir ao médico, pais e mães de primeira viagem, idosos, hipocondríacos e ainda oferece:</p>
        <ul class="green-list">
          <li><i class="fa fa-check-circle-o fa-fw fa-lg fa-2x m-r-5 sr-icons" aria-hidden="true" data-sr-id="2" style="; visibility: visible;  -webkit-transform: scale(1); opacity: 1;transform: scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; "></i>Comunicação entre pacientes e enfermeiros em hospitais</li>
          <li><i class="fa fa-check-circle-o fa-fw fa-lg fa-2x m-r-5 sr-icons" aria-hidden="true" data-sr-id="3" style="; visibility: visible;  -webkit-transform: scale(1); opacity: 1;transform: scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; "></i>Anamnese pré atendimento em clínicas populares</li>
          <li><i class="fa fa-check-circle-o fa-fw fa-lg fa-2x m-r-5 sr-icons" aria-hidden="true" data-sr-id="4" style="; visibility: visible;  -webkit-transform: scale(1); opacity: 1;transform: scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; "></i>Solicitação de cuidadores presenciais</li>
          <li><i class="fa fa-check-circle-o fa-fw fa-lg fa-2x m-r-5 sr-icons" aria-hidden="true" data-sr-id="5" style="; visibility: visible;  -webkit-transform: scale(1); opacity: 1;transform: scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; "></i>Orientação psicológica via chatbot</li>
        </ul>
      </div>
      <div class="col-lg-5 col-md-5">
        <img src="assets/images/phone-website-2.png" alt="Hello" class="img-responsive center-block">
      </div>
    </div>
  </div>
</section>
<!-- /features -->

<section class="bg-green has-svg green-separator p-0 p-t-40 p-b-40" id="green-separator">
  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="separator separator-top" width="100%" height="100" viewBox="0 0 100 101" preserveAspectRatio="none">
    <path d="M0 100 L100 0 L100 100 Z"></path>
  </svg>
  <div class="container bg-green">
  <h2 class="hidden">Green Separator</h2>
    <div class="row m-b-70"></div>
  </div>
</section>
<!-- /green separator -->

<section class="bg-white has-svg features" id="download">
  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="separator separator-top" width="100%" height="100" viewBox="0 0 100 101" preserveAspectRatio="none">
    <path d="M0 100 L100 0 L100 100 Z"></path>
  </svg>
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-5">
        <img src="assets/images/phone-website-3.png" alt="Hello" class="img-responsive center-block">
      </div>
      <div class="col-lg-7 col-md-7 text-right">
        <h3 class="black f-s60 f-w500">Porque escolher a Caren</h3>
        <h2 class="grey text-uppercase f-w300">Profissionais Treinados a sua Disposição.</h2>
        <p class="grey f-s18 m-t-70 m-b-40 f-w300">Por meio de um Chat oferecemos orientação de saúde básica, para situações simples do dia a dia. Conectamos nossos usuários com farmacêuticos e enfermeiros, capazes de entender a gravidade das demandas e indicar o que pode ou deve ser feito pelos pacientes.
          <br><br>
          Os profissionais da Caren são enfermeiros e farmacêuticos formados e que antes de fazer parte da nossa rede de colaboradores, passaram por um rigoroso processo de análise e confirmação de documentos.
          <br><br>
          Oferecemos uma consulta grátis por mês e temos ainda planos de consultas adicionais, para que você ou seu ente querido tenha nosso acompanhamento sempre que precisar.
        </p>

      </div>
    </div>
  </div>
</section>
<!-- /features -->

<section class="bg-white p-0" id="info">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-6 bg-green-gradient text-center">
        <div class="m-t-40">
          <i class="fa fa-android white fa-lg fa-5x m-r-20" aria-hidden="true"></i>
          <i class="fa fa-apple white fa-lg fa-5x m-r-20" aria-hidden="true"></i>
          <i class="fa fa-desktop white fa-lg fa-5x m-r-20" aria-hidden="true"></i>
        </div>
        <h3 class="white f-s48 f-w500 m-t-40 text-uppercase">Sempre com você</h3>
        <p class="white f-s21 m-t-20 m-b-40 f-w300">Nosso sistema está disponível via internet, em nosso site e via aplicativos de celular, para os sistemas Android e iOS. (Breve)</p>
      </div>
      <div class="col-lg-6 col-md-6 bg-light-grey">
        <br>
        <h3 class="black f-s60 f-w500">UM PROBLEMA REAL</h3>
        <p class="grey f-s18 m-t-40 m-b-40 f-w300">Os Planos de Saúde tem se tornado cada vez mais caros. Nos últimos dois anos, 2.8 milhões de pessoas abandonaram seus planos de saúde. 3/4 da população brasileira não tem cobertura médica privada, 74% destes gostaria de ter. Para essas pessoas oferecemos uma alternativa acessível e alinhada com os novos tempos. Venha conversar com a Caren!</p>
      </div>
    </div>
  </div>
</section>
<!-- /info -->

<div class="grey-line"></div>
<section id="contact" class="bg-white">
  <div class="container m-b-70">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <h3 class="black f-s60 f-w500 text-center">Contato</h3>
        <h2 class="grey text-uppercase f-w300 text-center">No que podemos te ajudar</h2>
        <form class="contactus m-t-40">
          <label>Nome</label>
          <input type="text" name="name" class="form-control m-b-20">
          <label>Email</label>
          <input type="text" name="email" class="form-control m-b-20">
          <label>Mensagem</label>
          <textarea class="form-control m-b-20"></textarea>
          <button class="btn btn-primary btn-lg page-scroll f-s18 sr-button" type="submit" data-sr-id="11" style="; visibility: visible;  -webkit-transform: translateY(20px) scale(0.9); opacity: 0;transform: translateY(20px) scale(0.9); opacity: 0;">Enviar</button>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- /contact -->
