


<section class="bg-white has-svg features" id="features">
  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="separator separator-top" width="100%" height="100" viewBox="0 0 100 101" preserveAspectRatio="none">
    <path d="M0 100 L100 0 L100 100 Z"></path>
  </svg>
  <div class="container">
    <div class="row m-b-70">
      <div class="col-lg-7 col-md-7">
        <h3 class="black f-s60 f-w500">Great features</h3>
        <h2 class="grey text-uppercase f-s36 f-w300">Simple. Secure. Free.</h2>
        <ul class="green-list hidden-xs">
          <li><i class="fa fa-check-circle-o fa-fw fa-lg fa-2x m-r-5 sr-icons hidden-xs" aria-hidden="true" data-sr-id="2" style="; visibility: visible;  -webkit-transform: scale(1); opacity: 1;transform: scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; "></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
          <li><i class="fa fa-check-circle-o fa-fw fa-lg fa-2x m-r-5 sr-icons hidden-xs" aria-hidden="true" data-sr-id="3" style="; visibility: visible;  -webkit-transform: scale(1); opacity: 1;transform: scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; "></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
          <li><i class="fa fa-check-circle-o fa-fw fa-lg fa-2x m-r-5 sr-icons hidden-xs" aria-hidden="true" data-sr-id="4" style="; visibility: visible;  -webkit-transform: scale(1); opacity: 1;transform: scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; "></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
          <li><i class="fa fa-check-circle-o fa-fw fa-lg fa-2x m-r-5 sr-icons hidden-xs" aria-hidden="true" data-sr-id="5" style="; visibility: visible;  -webkit-transform: scale(1); opacity: 1;transform: scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; "></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
        </ul>
        <p class="grey f-s18 m-t-70 m-b-40 f-w300">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <a href="http://www.loriel.it/hello/index.html#screenshot" class="btn btn-primary btn-lg page-scroll f-s18 sr-button" data-sr-id="6" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: all 0.35s ease 0s, -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s; transition: all 0.35s ease 0s, transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s; ">More screenshots</a>
      </div>
      <div class="col-lg-5 col-md-5">
        <img src="/assets/images/01mockup.png" alt="Hello" class="img-responsive center-block">
      </div>
    </div>
  </div>
</section>
<!-- /features -->

<section class="bg-green has-svg green-separator p-0 p-t-40 p-b-40" id="green-separator">
  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="separator separator-top" width="100%" height="100" viewBox="0 0 100 101" preserveAspectRatio="none">
    <path d="M0 100 L100 0 L100 100 Z"></path>
  </svg>
  <div class="container bg-green">
  <h2 class="hidden">Green Separator</h2>
    <div class="row m-b-70"></div>
  </div>
</section>
<!-- /green separator -->

<section class="bg-white has-svg features">
  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="separator separator-top" width="100%" height="100" viewBox="0 0 100 101" preserveAspectRatio="none">
    <path d="M0 100 L100 0 L100 100 Z"></path>
  </svg>
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-5">
        <img src="/assets/images/02mockup.png" alt="Hello" class="img-responsive center-block">
      </div>
      <div class="col-lg-7 col-md-7 text-right">
        <h3 class="black f-s60 f-w500">Why choose our app</h3>
        <h2 class="grey text-uppercase f-s36 f-w300">Totally free. Also calls. No limits.</h2>
        <p class="grey f-s18 m-t-70 m-b-40 f-w300">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <br><br>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <a href="http://www.loriel.it/hello/index.html#download" class="btn btn-primary btn-lg page-scroll f-s18 sr-button" data-sr-id="7" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: all 0.35s ease 0s, -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s; transition: all 0.35s ease 0s, transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s; ">Download our app</a>
      </div>
    </div>
  </div>
</section>
<!-- /features -->

<section class="bg-white p-0" id="info">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-6 bg-green-gradient text-center">
        <div class="m-t-40">
          <i class="fa fa-android white fa-lg fa-5x m-r-20" aria-hidden="true"></i>
          <i class="fa fa-apple white fa-lg fa-5x m-r-20" aria-hidden="true"></i>
          <i class="fa fa-windows white fa-lg fa-5x m-r-20" aria-hidden="true"></i>
          <i class="fa fa-desktop white fa-lg fa-5x m-r-20" aria-hidden="true"></i>
        </div>
        <h3 class="white f-s48 f-w500 m-t-40 text-uppercase">Always with you</h3>
        <p class="white f-s21 m-t-20 m-b-40 f-w300">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nisi enim, vulputate at justo tristique, Lorem ipsum dolor sit amet consectetur adipiscing elit. Fusce nisi enim, vulputate at justo.</p>
      </div>
      <div class="col-lg-6 col-md-6 bg-light-grey">
        <h3 class="black f-s60 f-w500">Messages and calls. Ever</h3>
        <p class="grey f-s18 m-t-40 m-b-40 f-w300">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <a href="http://www.loriel.it/hello/index.html#contact" class="btn btn-primary btn-lg page-scroll f-s18 sr-button hidden-xs" data-sr-id="8" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: all 0.35s ease 0s, -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s; transition: all 0.35s ease 0s, transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s; ">More info</a>
      </div>
    </div>
  </div>
</section>
<!-- /info -->

<section class="bg-light-grey" id="download">
  <div class="container">
    <div class="row m-b-40">
      <div class="col-lg-12 col-md-12 m-t-70 m-b-70 text-center">
        <h3 class="white f-s60 f-w500">Download now. It's free</h3>
        <p class="white f-s18 m-t-40 m-b-40 f-w300">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <a href="http://www.loriel.it/hello/index.html#" class="btn btn-default btn-lg page-scroll f-s18 m-r-10 sr-button" data-sr-id="9" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: all 0.35s ease 0s, -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s; transition: all 0.35s ease 0s, transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s; "><i class="fa fa-apple fa-lg fa-2x m-r-10" aria-hidden="true"></i>App Store</a>
        <a href="http://www.loriel.it/hello/index.html#" class="btn btn-default btn-lg page-scroll f-s18 sr-button" data-sr-id="10" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: all 0.35s ease 0s, -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s; transition: all 0.35s ease 0s, transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s; "><i class="fa fa-play fa-lg fa-2x m-r-10" aria-hidden="true"></i>Google Play</a>
      </div>
    </div>
  </div>
</section>
<!-- /download -->

<section class="bg-white" id="screenshot">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
      <h2 class="hidden">Screenshot</h2>
       <img src="/assets/images/more-screenshot.png" alt="Hello" class="img-responsive center-block">
     </div>
   </div>
 </div>
</section>
<!-- /screenshot -->

<div class="grey-line"></div>
<section id="contact" class="bg-white">
  <div class="container m-b-70">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <h3 class="black f-s60 f-w500 text-center">Contact us</h3>
        <h2 class="grey text-uppercase f-s36 f-w300 text-center">Ask more informations</h2>
        <form class="contactus m-t-40">
          <label>Name</label>
          <input type="text" name="name" class="form-control m-b-20">
          <label>Email</label>
          <input type="text" name="email" class="form-control m-b-20">
          <label>Message</label>
          <textarea class="form-control m-b-20"></textarea>
          <button class="btn btn-primary btn-lg page-scroll f-s18 sr-button" type="submit" data-sr-id="11" style="; visibility: visible;  -webkit-transform: translateY(20px) scale(0.9); opacity: 0;transform: translateY(20px) scale(0.9); opacity: 0;">Send</button>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- /contact -->
